/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
}

/* Header Styles */
header {
  padding: 40px;
  text-align: center;
  background-color: #0b3d91;
  color: white;
}

#home {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbJWxX3K3QwcuaO7p2XkfRlQv7z-jQiQgVPaw9qTfXVw&s=10");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Main Content Styles */
main {
  margin: auto;
  padding: 20px;
  }

section {
  padding: 80px 0;
  height: 100vh;
}

/* List Item Styles */
li {
  display: inline;
}
